@import "tailwindcss";
@import "./themes.css";

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 300ms ease, color 300ms ease;
  }
}

@media print {
  body {
    @apply bg-white;
  }
}
